.key-button {
    background-color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
    color: black;
    box-shadow: rgba(255, 255, 255, 0.6) 5px 5px 15px;
    width: 100%;
    padding: 0;
}

.key-button:hover{
    background-color: gray;
    color: white;
}

.key-correct {
    background-color: #6AAA64;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 100%;
    padding: 0;
}

.key-correct:hover {
    background-color: gray;
    color: white;
}

.key-maybe {
    background-color: #C9B458;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 100%;
    padding: 0;
}

.key-maybe:hover {
    background-color: gray;
    color: white;
}

.key-wrong {
    background-color: #787C7E;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 100%;
    padding: 0;
}

.key-wrong:hover {
    background-color: gray;
    color: white;
}

.key-column{
    display: flex;
    justify-content: center;
    padding-left: 0.4%;
    padding-right: 0.4%;
}