.ok-button {
    width: 100%;
    background-color: black;
    border: none;
    text-align: center;
    font-weight: bolder;
    font-size: 18px;
    letter-spacing: .02em;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 5px;
}

.ok-button:hover {
    background-color: black;
}


.form-label {
    font-weight: bolder;
    font-size: 18px;
    letter-spacing: .02em;
    text-align: center;
}

.drop-down {
    font-weight: bold;
    text-align: center;
    letter-spacing: .02em;
    background-color: black;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 5px;
}

.menu-form {
    padding-right: 20%;
    padding-left: 20%;
}

.option {
    font-weight: bold;
    letter-spacing: .02em;
    color: white;
    background-color: black;
    padding: 0;
    margin: 0;
    text-align: center;
}

.menu-modaln {
    padding: 0 !important;
}