.cell {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    background-color: white;
    border-radius: 0;
    border-color: black !important;
    border-width: 2px;
    padding: 0;
}

.cell-correct {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    background-color: #6AAA64;
    border-radius: 0;
    border-color: #6AAA64  !important;
    border-width: 2px;
    padding: 0;
}

.cell-maybe {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    background-color: #C9B458;
    border-radius: 0;
    border-color: #C9B458  !important;
    border-width: 2px;
    padding: 0;
}

.cell-wrong {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    background-color: #787C7E;
    border-radius: 0;
    border-color: #787C7E !important;
    border-width: 2px;
    padding: 0;
}

.solution {
    border: none;
    color: #6AAA64;
    font-weight: bolder;
    border-bottom: 2px black solid;
    background-color: black;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.5) 3px 3px 6px;
}