.title-header {
    text-align: center;
    margin-bottom: 0px;
    font-family: "nyt-karnakcondensed";
    font-weight: bolder;
    font-size: 36px;
    letter-spacing: .02em;
}

.wordle-row {
    padding-left: 5%;
    padding-right: 5%;
}

.wordle-game {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}