.app{
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
}

h1 {
    text-shadow: 3px 2px 5px #000000;
}

html, body {
    height: 100%;
    margin: 0;
  }

.header-row {
    padding: 1% 0;
    border-bottom: 3px solid black;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 12px;
}

.title-header {
    text-align: center;
    margin-bottom: 0px;
    font-family: "Tahoma";
    font-weight: bolder;
    line-height: 100%;
    letter-spacing: .02em;
    color: black;
    width: 100%;
}

.signOut {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 12px;
    background-color: black !important;
    border: none !important;
}