.keyboard-container {
    background-color: black;
    min-height: 125px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.keyboard-row {
    height: 33.3%;
}